## Visual Studio & Build Artifacts
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log

## Publish
publish/
*.Publish.xml
*.pubxml.user

## OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
